.panel {
  font-size: 2rem;
  background: #333;
  color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 20px;
    font-size: 2rem;
    width: 300px;
    height: 100px;
    background: red;
    color: white;
    cursor: pointer;

}

.panel p .guess {
  color: yellowgreen;
}